<!-- HTML file by Aviv Yonathan Eliyahu and Matan Asraf -->
<!DOCTYPE html>
<html lang = "en">

<head>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Bruno+Ace+SC&family=Rammetto+One&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Rammetto+One&display=swap" rel="stylesheet">
    <link href="profile.css" rel="stylesheet">
	<title>My Profile</title>
</head>

<body>
	<div class="container">
		<!-- Banner start -->
		<div class="profile">
			<div class="banner">
				<img id="back_img" src="/<%= id %>/banner.png" alt="banner">
			</div>
			<img id="profile_img" src="/<%= id %>/profile.png" alt="profile">
		</div>
		<!-- Banner end -->
		<h1 id="info_title"><%- title_lines[0];%></h1>
		<div class="info">
			<div id="info_left">
				<p>
					<%- title_lines[1];%>
				</p>
				<div id="mickey_info">
					<% for (line of bio_lines) { %> 
						<div class="parameter_titles">
							<p class="parameters">
								<%- line.split(":")[0]; %>
							</p>
							<p class="answers">
								<%- line.split(":").slice(1).join(":");%>
							</p>
						</div> 
					<% } %>
				</div>
			</div>
			<div id="info_right">
				<img id="info_img" src="/<%= id %>/image1.png" alt="info_image">
			</div>
		</div>
		<div class="endorsement">
			<div id="end_right">
				<h2 id="end_title"> Endorsement</h2>
				<% for (file of endorsement_files) { %>
					<div class="end_box">
						<p>
							<%- file.split("\n")[0]; %>
						</p>
						<hr class="seperator">
						<span >
							<%- file.split("\n")[1]; %>
						</span>
					</div> 
				<% } %>
			</div>
			<div id="end_left">
				<img id="end_img" src="/<%= id %>/image2.png" alt="endorsement_img">
			</div>
		</div>
		<div class="friends">
			<h2 id="friends_title"> Meet the whole debugging squad </h2>
			<div id="friends_bottom">
				<% for (friend of filtered_friends){ %>
					<a href="/profile?id=<%= friend %>">
						<img class="friends_img" src="<%= friend %>/profile.png" alt="<%= friend %>_img">
					</a>
				<% } %>
			</div>
		</div>
		<div id="zefat">
			Zefat Academic College
		</div>
	</div>
</body>

</html>